@font-face {
    font-family: Freight;
    src: url("fonts/FreightDispProLight-Regular.otf") format("opentype");
}

@font-face {
    font-family: Freight-strong;
    src: url("fonts/FreightDispProBlack-Regular.otf") format("opentype");
}

@font-face {
    font-family: Colfax;
    src: url("fonts/Colfax-Light.otf") format("opentype");
}

@font-face {
    font-family: Colfax-strong;
    src: url("fonts/Colfax-Medium.otf") format("opentype");
}

* {
	/*color: #435363;*/
	color: #2c4c69;
	/*font-family: Freight;*/
	font-family: Colfax;
}

body {
	/*height: 90vh;*/
	/*overflow: hidden;*/
	/*width: 140vh;*/
	width: 90%;
	/*height: auto;*/
	margin: auto;
	background-color: #f8f8f9;
}

a {
	text-decoration: none;
}

.intro-page {
	background-color: #f5f4f6;
}

#intro-page-image {
	display: inline-block;
	/*height: 80vh;*/
	/*height: 550px;*/
	/*height: 10;*/
	width: 35vw;
	/*float: left;*/
	position: relative;
	left: -40px;
	top: -4vw;
}

.hide-video {
	display: inline-block;
	width: 40vw;
	float: left;
	position: relative;
	top: -1vw;
	overflow: hidden;
	height: 45vw;
}

#intro-page-info {
	width: 48%;
	/*width: 500px;*/
	/*height: 100px;*/
	vertical-align: top;
	/*height: 50vh;*/
	display: inline-block;
}

#intro-page-info p {
	font-size: 1vw;
}

#intro-text-columns > .column {
	width: 45%;
	display: inline-block;
	vertical-align: top;
	padding-right: 10px;
	/*height: 50vh;*/
}

#intro-text-columns {
	text-align: left;
}

#membership-button-div, #apply-button-div {
	width: 100%;
	text-align: center;
}

#membership-button {
	text-align: center;
	margin: auto;
}

.footer > li {
	list-style: none;
	display: inline-block;
}

.footer {
	text-align: center;
}

.center-me {
	text-align: center;
}

.full-contents {
	min-height: 92vh;
}

p {
	/*font-size: 1.7vh;*/
	/*font-size: 13px;*/
	font-size: 0.95vw;
	line-height: 180%;
	/*letter-spacing: .8px;*/
	margin-bottom: 20px;
}

hr {
	background-color: #cccccc;
	border-top: #f0f0f1;
	border-left: none;
	height: 1px;
	text-decoration: none;
}

header > hr {
	margin-bottom: 3vw;
}

.text-left {
	text-align: left;
}

.light {
	font-weight: 100;
}

.logo {
	font-size: 2.5vw;
	text-align: left;
	font-family: Freight;
}

.title {
	/*font-size: 4.1vh;*/
	/*font-size: 24px;*/
	font-size: 2.6vw;
	font-family: Freight;
}

.footer-div {
	position: relative;
	bottom: 0;
	height: 0;
	/*width: 140vh;*/
}

.footer-div > *, header > * {
	width: 95%;
	text-align: center;
	margin: auto;
}

.footer {
	/*padding: 10px;*/
	height: 23px;
	padding-bottom: 1em;
	padding-top: 1.3em;
}

.footer > li {
	margin: 0 40px;
	/*font-size: 1.5vh;*/
	/*font-size: 10px;*/
	font-size: .7vw;
}

.red-line {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #ff3d32;
	/*font-size: 1.5vh;*/
	/*font-size: 12px;*/
	font-size: 1.1vw;
	letter-spacing: 2px;
	padding: 5px 15px;
	margin-bottom: 20px;
	text-decoration: none;
}

.red-line:hover {
	padding-bottom: 4px;
	border-bottom: 2px solid #fb948e;
}

#cover-page {
	position: absolute;
	background-color: #f8f8f9;
	width: 100vw;
	height: 101vh;
	right: 0;
	top: 0;
	z-index: 3;
	text-align: center;
}

#cover-page > img {
	margin-top: 38vh;
	height: 20vh;
}


/*MEMBERSHIP ONLY*/

.hover-show {
	cursor: pointer;
}

.hover-show-div p {
	padding: 3vw;
}

#benefits-div {
	clear: both;
	margin-bottom: 2vw;
}

#benefits-div > hr {
	width: 85%;
}

.row {
	text-align: center;
}

.row-left {
	margin-left: 6%;
}

.row-item {
	display: inline-block;
	width: 15vw;
	vertical-align: top;
	text-align: left;
}

#partners-div {
	width: 85%;
	background-color: #e5e6e6;
	margin: auto;
	padding-bottom: 4vw;
}

#partners-div * {
	color: #435262;
}

#partners-div > hr {
	width: 88%;
}

.partner-item {
	display: inline-block;
	/*width: 11vw;*/
	width: 14.4%;
	vertical-align: top;
	text-align: left;
}

ul {
	list-style: none;
	font-size: 1vw;
	letter-spacing: .8px;
	padding-left: 0;
}

strong {
	font-family: Freight-strong;
}

#partners-header {
	margin-left: 4.5vw;
	padding-bottom: 1vw;
	padding-top: 3vw;
}

#apply-button-div {
	margin-top: 3vw;
	margin-bottom: 3vw;
}

#member-page-intro {
	width: 40%;
	vertical-align: top;
	display: inline-block;
	float: left;
	margin-left: 6.5vw;
	margin-bottom: 3vw;
}

#member-page-intro h1 {
	font-family: Freight;
	font-size: 2.8vw;
	line-height: 3.5vw;
	letter-spacing: 0.2vw;
}

#member-page-image {
	display: inline-block;
	width: 38vw;
	float: right;
	margin-right: 6.5vw;
}

.grey {
	background-color: #435262;
}

.grey * {
	color: #e5e6e6;
}

.red {
	color: #e6453e;
}

/*APPLICATION PAGE*/

#application-page-intro {
	width: 53%;
	vertical-align: top;
	display: inline-block;
	float: left;
	margin-left: 3vw;
	margin-bottom: 3vw;
}

#application-page-intro > h1 {
	font-family: Freight;
	font-size: 3.8vw;
	line-height: 3.5vw;
	letter-spacing: 0.2vw;
}

.membership-option h3 {
	padding-left: 20%;
	border-left: 1.5px solid #cccccc;
}

h3 {
	font-size: 1.3vw;
}

.Colfax-strong {
	font-family: Colfax-strong;
}

#application-page-image {
	position: relative;
	right: -55vw;
	top: -16vw;
	width: 80vw;
}

.hide-image {
	position: absolute;
	width: 100%;
	max-height: 50vw;
	left: 0;
	overflow: hidden;
	z-index: -1;
}

#application-button-div, #invite-button-div {
	text-align: center;
	margin: 10% 0;
}

/*FORMS*/
.form {
	width: 95%;
	clear: both;
	margin: auto;
}

.form * {
	font-family: Freight;
}

.form-item {
	display: inline-block;
	/*margin: 2vw;*/
	margin: 2vw 0;
}

.form-item > input, .form-item > select, .form-item > input[type="checkbox"] {
	border: 0.10vw solid #435363;
	margin-right: 1.5vw;
	font-size: 1.2vw;
	background-color: #f8f8f9;
	text-indent: 1vw;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
}

.form-item > input {
	height: 2.5vw;
	width: 20vw;
}

.form-item > input:focus, .form-item > select:focus, button, #invite-select {
	outline: none;
}

.form-item > select {
	height: 2.8vw;
	max-width: 13vw;
	min-width: 10vw;
	position: relative;
	top: .5px;

   -webkit-appearance: none; 
   -moz-appearance: none;
   appearance: none;       /* remove default arrow */

   background: url(img/down-arrow.png) right;
   background-size: contain;
   background-repeat: no-repeat;
}

#zip-input {
	width: 12vw;
}

.input-title {
	margin-bottom: 0.5vw;
}

input::-webkit-input-placeholder {color: #adadad !important;  }
input:-moz-placeholder { /* Firefox 18- */color: #adadad !important;  }
input::-moz-placeholder {  /* Firefox 19+ */color: #adadad !important;  }
input:-ms-input-placeholder {  color: #adadad !important;  }

.ad-color {
	color: #adadad;
}

form h3 {
	text-align: center;
	font-family: Freight-strong!important;
}

.indent-number {
	display: inline-block;
	position: relative;
	margin-right: 1vw;
	top: .8vw;
}

.form-item.form-question {
	margin-bottom: 0px;
}

input.long {
	width: 30vw;
}

input.x-long {
	width: 40vw;
}

input.long-plus {
	width: 32vw;
}

.long-minus {
	width: 22vw;
}

select.long-minus {
	min-width: 20vw;
}

#invite-select {
	display: none;
	margin: auto;
	width: 30em;
	font-size: 0.7em;
	text-align: center;
}

.striked {
	color: red;
	text-decoration: line-through;
}

/* The alert message box */
.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
    display: none;
    font-size: 1.2em;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

/*PREVENT EXTRA LARGE TEXT WHEN EXPANDED*/
@media screen and (min-width: 1450px) {

	.full-contents {
		max-height: 50em;
	}

	#intro-page-image {
		max-width: 500px;
	}

	.hide-video {
		width: 500px;
		float: none;
		margin-right: 5em;
		margin-top: 8%;
	}

	#intro-page-info {
		max-width: 31em;
		margin-top: 8%;
	}

	#intro-page-info p {
		font-size: 0.9em;
	}

	#intro-page-info h1 {
		font-size: 2.2em;
	}

	.red-line {
		font-size: 1em;
	}

	.footer {
		padding: 0.5em;
	}

	.footer-div hr {
		width: 72em;
	}

	.footer-div li {
		font-size: 0.5em;
	}
}

/*MOBILE*/
@media screen and (max-width: 800px) {
	.intro-page-image {
		float: none;
		width: 100vw;
	}

	.hide-video {
		width: 90vw;
	}

	#intro-page-info {
		display: block;
		margin: auto;
	}
}