@font-face {
    font-family: Freight;
    src: url("fonts/FreightDispProLight-Regular.otf") format("opentype");
}

@font-face {
    font-family: Freight-strong;
    src: url("fonts/FreightDispProBlack-Regular.otf") format("opentype");
}


* {
	color: #435363;
	font-family: Freight;
}

body {
	/*height: 90vh;*/
	/*overflow: hidden;*/
	/*width: 140vh;*/
	width: 90%;
	/*height: auto;*/
	margin: auto;
	background-color: #f8f8f9;
}

#intro-page-image {
	display: inline-block;
	/*height: 80vh;*/
	/*height: 550px;*/
	/*height: 10;*/
	width: 35vw;
	float: left;
}

#intro-page-info {
	width: 50%;
	/*width: 500px;*/
	/*height: 100px;*/
	vertical-align: top;
	/*height: 50vh;*/
	display: inline-block;
}

#intro-text-columns > .column {
	width: 45%;
	display: inline-block;
	vertical-align: top;
	padding-right: 10px;
	/*height: 50vh;*/
}

#intro-text-columns {
	text-align: left;
}

#membership-button-div, #apply-button-div {
	width: 100%;
	text-align: center;
}

#membership-button {
	text-align: center;
	margin: auto;
}

.footer > li {
	list-style: none;
	display: inline-block;
}

.footer {
	text-align: center;
}

.center-me {
	text-align: center;
}

p {
	/*font-size: 1.7vh;*/
	/*font-size: 13px;*/
	font-size: 1vw;
	line-height: 180%;
	letter-spacing: .8px;
	margin-bottom: 20px;
}

hr {
	background-color: #cccccc;
	border-top: #f0f0f1;
	border-left: none;
	height: 1px;
	text-decoration: none;
}

.text-left {
	text-align: left;
}

.light {
	font-weight: 100;
}

.logo {
	font-size: 3.7vh;
	text-align: left;
}

.title {
	/*font-size: 4.1vh;*/
	/*font-size: 24px;*/
	font-size: 3.1vw;
}

.footer-div {
	position: relative;
	bottom: 0;
	height: 0;
	/*width: 140vh;*/
}

.footer-div > *, header > * {
	width: 95%;
	text-align: center;
	margin: auto;
}

.footer {
	padding: 10px;
	height: 23px;
	padding-bottom: 3vw
}

.footer > li {
	margin: 0 40px;
	/*font-size: 1.5vh;*/
	/*font-size: 10px;*/
	font-size: .7vw;
}

.red-line {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #ff3d32;
	/*font-size: 1.5vh;*/
	/*font-size: 12px;*/
	font-size: 1.1vw;
	letter-spacing: 2px;
	padding: 5px 15px;
	margin-bottom: 20px;
	text-decoration: none;
}

.red-line:hover {
	padding-bottom: 4px;
	border-bottom: 2px solid #fb948e;
}

#cover-page {
	position: absolute;
	background-color: #f8f8f9;
	width: 100vw;
	height: 101vh;
	right: 0;
	top: 0;
	z-index: 3;
	text-align: center;
}

#cover-page > img {
	margin-top: 15%;
	height: 40vh;
}

/*MEMBERSHIP ONLY*/
/*#member-page-image {
	display: inline-block;
	width: 15vw;
	float: right;	
}*/

#benefits-div {
	clear: both;
}

#benefits-div > hr {
	width: 85%;
}

.row {
	text-align: center;
}

.row-left {
	margin-left: 6%;
}

.row-item {
	display: inline-block;
	width: 15vw;
	vertical-align: top;
	text-align: left;
}

#partners-div {
	width: 85%;
	background-color: #e5e6e6;
	margin: auto;
	padding-bottom: 4vw;
}

#partners-div * {
	color: #435262;
}

#partners-div > hr {
	width: 88%;
}

.partner-item {
	display: inline-block;
	/*width: 11vw;*/
	width: 14.4%;
	vertical-align: top;
	text-align: left;
}

ul {
	list-style: none;
	font-size: 1vw;
	letter-spacing: .8px;
	padding-left: 0;
}

strong {
	font-family: Freight-strong;
}

#partners-header {
	margin-left: 4.5vw;
	padding-bottom: 1.5vw;
	padding-top: 3vw;
}

#apply-button-div {
	margin-top: 3vw;
	margin-bottom: 3vw;
}

#member-page-intro {
	width: 40%;
	vertical-align: top;
	display: inline-block;
	float: left;
	margin-left: 6.5vw;
	margin-bottom: 3vw;
	font-size: 2.6vw;
	line-height: 3.5vw;
}

#member-page-image {
	display: inline-block;
	width: 38vw;
	float: right;
	margin-right: 6.5vw;
}

.grey {
	background-color: #435262;
}

.grey * {
	color: #e5e6e6;
}

.red {
	color: #e6453e;
}